/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jun 13, 2023, 6:02:22 PM
    Author     : Admin
*/

body {
    font-family: 'AdihausDIN', 'Helvetica', sans-serif;
    font-weight: 700;
}

.stroke ul li a,
.stroke ul li a:after,
.stroke ul li a:before {
    transition: all .5s;
}

.stroke ul li a:hover {
    color: #555;
}

.stroke ul li a {
    position: relative;
}

.stroke ul li a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: #4d4d4d;
    height: 2px;
}

.stroke ul li a:hover:after {
    width: 100%;
}
.pre-header-nav  {
    color:white;
}
.pre-header-nav:hover {
    color:aliceblue;
    text-decoration:  underline;
}