body {
    background-color: #fff;
    font-family: 'Satoshi-Medium';
}

.img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.social-login a.facebook {
    background: #3b5998;
}

.social-login a.facebook:hover {
    background: #344e86;
}

.social-login a.twitter {
    background: #1da1f2;
}

.social-login a.twitter:hover {
    background: #0d95e8;
}

.social-login a.google {
    background: #ea4335;
}

.social-login a.google:hover {
    background: #e82e1e;
}


.form-group {
    position: relative;
}
.social-login a{
    font-size:13px;

}

#togglePassword {
    position: absolute;
    top: 63%;
    right: 10px;
}
input::-ms-clear, input::-ms-reveal {
    display: none;
}
.form-label {
    color: #303038;
}
.login-fail-alert {
    padding:10px 0;
    background:#FB998D;
    color:#FF4B47;
    text-align: center;
}

@media (max-width: 991.98px) {
    .img {
        height: 500px;
    }
}

.contents,
.img {
    width: 50%;
}

@media (max-width: 1200px) {

    .contents,
    .img {
        width: 100%;
    }
}