/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : May 28, 2023, 4:19:10 PM
    Author     : Admin
*/

body {
    background-color: #fff;
    font-family: 'Satoshi-Medium';
}

.img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.social-login a.facebook {
    background: #3b5998;
}

.social-login a.facebook:hover {
    background: #344e86;
}

.social-login a.twitter {
    background: #1da1f2;
}

.social-login a.twitter:hover {
    background: #0d95e8;
}

.social-login a.google {
    background: #ea4335;
}

.social-login a.google:hover {
    background: #e82e1e;
}

.social-login a {
    font-size: 13px;
}

.social-login div {
}

.form-group {
    position: relative;
}



#togglePassword {
    position: absolute;
    top: 63%;
    right: 10px;
}

.form-label {

    color: #303030a8;
}

@media (max-width: 991.98px) {
    .img {
        height: 500px;
    }
}

.contents,
.img {
    width: 50%;
}

@media (max-width: 1200px) {

    .contents,
    .img {
        width: 100%;
    }
}

#message {
    display: none;

}

.invalid {
    color: red;
}

.invalid:after {
    position: relative;
    right: -20px;
    content: "✖";
}

.valid {
    color: green;
}

.valid:after {
    position: relative;
    right: -20px;
    content: "✔";
}

#alert-message {
    margin-top: 10px;
    color: red;
    font-size: 12px;
    padding: 10px;
    background: rgba(250, 60, 60, 0.404);
    border-radius: 5px;
    display: none;
}